# Blokir semua folder kompilasi besar
node_modules/
dist/

# Blokir file kunci rahasia agar tidak terunggah ke internet!
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

# Repomix dump bisa berisi seluruh isi source (rawan bocor secret)
repomix-output.xml
